#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -webkit-user-drag: none;
}

* {
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

